<footer>
  <div>
    <p>Get in touch. Lets work together</p>
    <p>Get a reply in under 3 hours</p>
  </div>
  <div class="contact">
    <div>
      <p class="first"><a href="https://www.youtube.com/user/killertoast949">Imaqtpie Youtube</a></p>
      <p class="second"><a href="https://twitter.com/2ndsequence?lang=en">Imaqtpie edited videos by 2nd sequence</a></p>
      <div>
        <p class="first"><a href="https://www.twitch.tv/imaqtpie">Imaqtpie Twitch</a></p>
        <p class="second">Imaqtpie streams everyday</p>
      </div>
    </div>
    <div class="my-work">
      <p><a href="https://github.com/colorlessenergy">see my work</a></p>
      <p>contact: theluckorange@yahoo.com</p>
    </div>
  </div>
</footer>
